<% brew('header.rhtml') %> 
<header><h1>discussion</h1></header>
<!--   M A I N   C O N T E N T   -->

<h3><a href="https://groups.google.com/group/rapache">official forum</a></h3>

<p> The <a href="https://groups.google.com/group/rapache">rapache google
group</a> is the official place to talk about installation issues,
new development, cool applications you're working on, etc. </p>

<h3><a href="http://twitter.com/#!/jeffreyhorner">twitter</a></h3>
<p>Follow me on twitter for a real-time ethereal discussion of <a href="http://www.r-projects.org/">R</a> and rApache related topics.</a>

<h3><a href="http://jeffreyhorner.tumblr.com/">blog</a></h3>
<p>Read more in-depth posts about the latest developments of rApache on jeffrey's blog <a href="//jeffreyhorner.tumblr.com">awaiting assimilation</a>.</p>

<h3><a href="http://chat.stackoverflow.com/rooms/106/r">chat</a></h3>
<p>Participate in R discussions with other stat nerds.</p>

<h3><a href="https://github.com/jeffreyhorner">github</a></h3>
<p>Follow jeffrey's latest projects on the cutting-edge social coding site <a href="https://github.com/jeffreyhorner">github.com</a>.</p>
<!--   E N D   M A I N   C O N T E N T   -->
<% brew('footer.rhtml') %> 
