<% brew('header.rhtml') %> 
<header><h1>links</h1></header>
<!--   M A I N   C O N T E N T   -->

<h3><a href="vm.html">rapache vm</a></h3>
<p>
Kick the Tires with the VMware rapache vm.
</p>
<h3><a href="http://www.rforge.net/brew">brew</a></h3>
<p>
An R package for combining (brewing) the output of evaluated R
code with text. When used with rapache, it provides a server-side scripting
environment very similar to PHP.
</p>

<h3><a href="http://data.vanderbilt.edu/~hornerj/brew/useR2007.rhtml">useR2007 Expert Application</a></h3>
<p>Live web app featuring the "expert" sample application with brew and Hmisc found on my <a href="files/useR2007poster.pdf">useR2007 poster</a>. <a href="files/useR2007brew.tgz">Download the source code</a>.</p>

<h3><a href="http://data.vanderbilt.edu/rapache/bbplot/">Bivariate Baseball Score Plots</a></h3>
<p>A site that uses rapache and <a href="http://www.rforge.net/Cairo">Cairo</a> to generate dynamic plots about historical baseball scores.</p>

<h3><a href="http://biostat.mc.vanderbilt.edu/RApacheProject">The Old Site</a></h3>
<p>It has various releases and patches, plus the old DSC2005 paper and presentation.<p>

<h3><a href="http://biostat.mc.vanderbilt.edu/JeffreyHorner">The Author</a></h3>
<p>
That's me, Jeff{rey} Horner. Read up on other projects I'm working on, or drop me a line if you have
comments about the software or this site, constructive or otherwise. The site design is inspired by
<a title="Swiss Graphic Design: The Origins and Growth of an International Style" href="http://www.amazon.com/Swiss-Graphic-Design-International-1920-1965/dp/0300106769">this</a>.
</p>

<!--   E N D   M A I N   C O N T E N T   -->
<% brew('footer.rhtml') %> 
