<% brew('header.rhtml') %> 
<header><h1>downloads</h1></header>

<p><a href="http://biostat.mc.vanderbilt.edu/svn/rapache/web/files/rapache-1.1.14.tar.gz" class="remove-bottom button">Download rApache 1.1.14</a></p>

<p>Follow the latest development on github.com here:</p>
<p><a href="https://github.com/jeffreyhorner/rapache">https://github.com/jeffreyhorner/rapache</a></p>

<p>You can access the old svn rApache respository, including older releases, here:</p>

<p><a href="http://biostat.mc.vanderbilt.edu/svn/rapache">http://biostat.mc.vanderbilt.edu/svn/rapache</a></p>

<% brew('footer.rhtml') %> 
