<% brew('header.rhtml') %> 
<header><h1>Web Application Development with R and Apache</h1></header>
<!--   M A I N   C O N T E N T   -->
<p>
First presented at <a href="http://depts.washington.edu/dsc2005/">DSC2005</a>, rApache is a project 
supporting web application development using the <a href="http://www.r-project.org/">R statistical 
language and environment</a> and the <a href="http://httpd.apache.org">Apache web server</a>. The 
current release runs on UNIX/Linux and Mac OS X operating systems.
</p>

<p>
For some examples of interactive R web applications that use rApache, visit the website of <a href="http://www.jeroenooms.com/">Jeroen Ooms</a>. </p>
<p><a href="http://www.jeroenooms.com/"><img src="http://www.stat.ucla.edu/~jeroen/images/ggplotv02.png"></a>
</p>

<!--   E N D   M A I N   C O N T E N T   -->
<% brew('footer.rhtml') %> 
